:root {
  --Rouge: #E00000;
  --Rouge-secondaire: #FE5858;
  --Rouge-tertiaire: #FFD6D6;
  --noir-100: #000;
  --Bleu-fonc: #313144;
  --Gris-fonc: #C4C4C4;
  --Gris-medium: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Polices du site */

/* Styles pour Space Mono */
h1 {
  font-family: 'Space Mono', monospace;
  //font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--noir-100);
}

h2 {
  font-family: 'Space Mono', monospace;
  //font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  color: var(--noir-100);
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--noir-100);
}

.description-photo { 
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--noir-100);
}

/* Styles pour Poppins */
p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--noir-100);
}

/* Header */

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 0px 14px 10px -2px rgba(0,0,0,0.03); 
    box-shadow: 0px 14px 10px -2px rgba(0, 0, 0, 0.03);
    img {
      width: 216px;     
      height: auto;              
      margin-left: 7.6vw; 
    }

    nav {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
  
        li {
          margin-right: 2.35vw;           
  
          &:last-child {
            margin-right: 7.6vw;     
          }
  
          a {
            text-decoration: none;
            color: var(--noir-100);
            font-family: Space Mono;
            font-size: 16px;
          }
        }
      }
    }
  }

/* marge sup pages : à propos, vie privée et mentions légales */

div.entry-content {
  margin-top: 100px;
}

/* Hero Header */

.hero-header {
  margin-bottom: 80px;   
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.photo-event {
  position: absolute;
  width: 55vw;
  height: auto;
}

/* Page d'accueil */

#photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 7.6vw;
  margin-left: 7.6vw;
}

/* filtres page accueil */

.photo-filters {
  height: 82px;
  margin-right: 7.6vw;
  margin-left: 7.6vw;
  display: flex;
  justify-content: space-between;
  
  #filter-category,
  #filter-format,
  #sort-date {
    width: 260px;
    height: 43px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    padding-left: 18px;
  }
}

.filters-left,
.filter-right {
  width: 49%;
  display: flex;
}

.filters-left {
  justify-content: space-between;
}

.filter-right {
  justify-content: flex-end;
}
/*
.filter-list {  // Test changement filtres
  display: none;
}
*/
/* Animations des filtres *//*

#filter-category:hover,
#filter-format:hover,
#sort-date:hover {
    background-color: #FFD6D6;
}

#filter-category:active,
#filter-format:active,
#sort-date:active {
    background-color: #FE5858;
}

.selected-filter {
  border: 1.3px solid #215AFF !important;
}

#filter-category:focus, 
#filter-format:focus, 
#sort-date:focus {
    outline: none;
    border-color: #A0A3AC;
}
*/
/* Test CSS dropdown Animations des filtres */

.custom-filter .filter-list {
  z-index: 1000; 
  position: relative;
  width: 260px;
  height: 218px;
  border-radius: 8px;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.custom-filter .selected-option:hover {
  background-color: #FFD6D6;
}

.custom-filter .filter-list div:hover {
  background-color: #FFD6D6;
}

.custom-filter .selected-option:active,
.custom-filter .filter-list div:active {
  background-color: #FE5858;
}

.custom-filter .selected-option.selected,
.custom-filter .filter-list div.selected {
  background-color: #E00000;
}

.custom-filter .selected-option:focus, 
.custom-filter .filter-list div:focus {
  outline: none;
  border-color: #A0A3AC;
}

.custom-filter .filter-list {
  display: none;
}

.selected-option img {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.selected-option.expanded img {
  transform: rotate(180deg);
}

/* Vignette photo */

.photo-item {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  width: 564px;   
  height: 495px;    
  position: relative;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  
  .photo-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      display: none;
  }
  
  &:hover .photo-overlay {
      display: block;
  }
}

#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  
  #lightbox-container {
    position: relative;
    width: 100vw; 
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #lightbox-image {
      max-width: 100%; 
      max-height: 100%; 
      display: block; 
      object-fit: contain; 
    }
    /* Titre & Catégorie photo dans "Agrandir" */
    #lightbox-info {
      display: flex;
      position: absolute;  // pos relatif à #lightbox-container
      bottom: -3%;  
      left: 35%;
      right: 35%;
      width: auto;

      #lightbox-title {
          flex: 1;
          text-align: left;
          color: white;
      }

      #lightbox-reference {
          flex: 1;
          text-align: right;
          color: white;
      }
  }

    #close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    #lightbox-controls {
      position: absolute;
      top: 50%;
      width: 90%;
      display: flex;
      justify-content: space-between;

      #prev-button, #next-button {
        cursor: pointer;
      }
    }
  }
}

.eye-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  img {
    width: 46px;
    height: 31.2px;
    cursor: pointer;
  }
}

.expand-icon {
  position: absolute;
  top: 11px;  
  right: 18px;  
}

.open-lightbox {
  display: block;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

/* Titre & Catégorie photo sur vignette */

.photo-title, .photo-category {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
}

.photo-title {
  bottom: 12px;
  left: 17px;
  font-family: 'Space Mono', sans-serif;
  font-size: 14px;
}

.photo-category {
  bottom: 12px;
  right: 23px;
  font-family: 'Space Mono', sans-serif;
  font-size: 14px;
}

/* BTN 'Charger plus' page d'accueil */

.home-btn {
  display: flex;
  justify-content: center;
}

#load-more-button {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 272px;
  height: 50px;
  cursor: pointer;
  background-color: #D8D8D8;
  font-size: 12px;
  font-family: 'Space Mono';
  border-radius: 2px;
  border: none;
    &:hover {
      background-color: #000;
      color: #fff;
    }
}

/* Page photographie */

.both-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 38px;   
    @media (max-width: 1024px) {         // Responsive page photo
      flex-direction : column-reverse;
    }
}

.left-column {
  width: 420px;   /* Taille à définir */
  height: auto;   
  width: 50%;     /* Taille à définir */
  border-bottom: 1px solid black;
  margin-left: 7.6vw;   
  margin-right: 10px;
  padding-bottom: 35px;  
    p {
    font-family: 'Space Mono';
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 20px;
  }
    h2 {
      width: 20vw;
      margin-bottom: 30px;
      font-size: 66px;
    }
}
/* Rendre le lien catégorie inactif */
.photo-info p a {   
  color: var(--noir-100);
  text-decoration: none;
  pointer-events: none;
}

.right-column {
  width: 50%;
  margin-right: 7.6vw;   
  margin-left: 10px; 
/* Image photo droite */    
  img {
    width: 100%;
    max-height: 90vh;    
    object-fit: cover;
  }
}
/* Enlever les flèches agrandir photo */
#prev-button, #next-button {  
  display: block;
}
/* L'icone agrandir */
.photo-wrapper {  
  position: relative;
  overflow: hidden; 
}

.bottom-column {
  margin-left: 7.6vw;   
  margin-right: 7.6vw;  
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 118px;
}

.bottom-column-left {
  width: 48.4%;
  display: flex;
  align-items: center;
}

/* bouton contact page photo */
.contact-link {     
  display: flex;
  justify-content: space-between;
  width: 100%;
    p {
      display: flex;
      align-items: center;
    }
}

.bottom-column-right {
  width: 50%; 
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Miniature photo */
.hover-thumbnail {  
  position: absolute;
  width: 80px;
  height: auto;
  bottom: 100%;  
  left: 50%;  
  transform: translateX(-50%); 
  object-fit: contain;
}

.navigation-links {
  display: flex;
  gap: 30px;  
  justify-content: flex-end;
  align-items:last baseline;
  padding-top: 5px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
} 

button {
  &.contactButton {
  width: 272px;    // Taille à définir
  height: 50px;    // Taille à définir
  padding: 8px 15px;  
  background-color: var(--Gris-medium);
  border: none;
  font-family: Space Mono;
  font-size: 12px;
  cursor: pointer;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.title-related-photos {
  margin-bottom: 52px;
  margin-top: 70px;      
  margin-left: 146px;    
}

/* les 2 photos associées */
.container-photos { 
  display: flex;
  justify-content: center;
  gap: 20px;         
      @media (max-width: 1024px) {         // Responsive 2 photos bas de page
        flex-direction : column;
      }
}

.related-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.next,
.previous {
  color: #51515d;
}

/* Modale Contact */

#contactModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 597px;     // Taille à définir
  height: 769px;    // Taille à définir
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex; 
  justify-content: center;  
  align-items: center; 
  border: 5px solid var(--noir-100);
}

.popup-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-top: 25px; 
    margin-bottom: 30px;
    font-size: 66px;
  }
}

.wpcf7-spinner {   
  display: none;
}

/* Formulaire modale page photo */

.wpcf7-form label {
  font-size: 12px;
  font-weight: 500;
}

.wpcf7-form input,
.wpcf7-form textarea {
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
  width: 263px;        // Taille à définir
  height: 40px;         // Taille à définir
  margin-bottom: 20px;   // Taille à définir
}

.wpcf7-form textarea {
  width: 263px;    // Taille à définir
  height: 210px;   // Taille à définir
  resize: none;
}

.wpcf7-form input[name="reference"] {
  margin-bottom: 6px;       
}

.wpcf7-submit {
  cursor: pointer;
}

.wpcf7-form .last-element {
  margin-bottom: 19px;         
}

.wpcf7-form input[type="submit"] {
  width: 263px;               // Taille à définir
  height: 50px;                // Taille à définir
  background: var(--Gris-medium);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  font-size: 12px;
  border-radius: 0;
}

/* Footer */

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;    
  width: 100%;
  border-top: 1px solid #000; 
  ul {
      display: flex;
      list-style-type: none;

      a {
          text-decoration: none;
          color: var(--noir-100);
          font-family: Space Mono;
          font-size: 16px;
      }
      
      .menu-item {
          margin-right: 86px;      // Taille à définir

          &:last-child {
              margin-right: 0;
          }
      }
  }

  p {
      margin-left: 86px;    // Taille à définir
      font-family: Space Mono;
      font-size: 16px;
  }
}

