:root {
  --Rouge: #E00000;
  --Rouge-secondaire: #FE5858;
  --Rouge-tertiaire: #FFD6D6;
  --noir-100: #000;
  --Bleu-fonc: #313144;
  --Gris-fonc: #C4C4C4;
  --Gris-medium: #D8D8D8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Polices du site */

h1 {
  font-family: 'Space Mono', monospace;
  //font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--noir-100);
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  color: var(--noir-100);
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--noir-100);
}

/*
.description-photo {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--noir-100);
}
*/

/* Styles pour Poppins */
p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--noir-100);
}

/* Header */

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0px 14px 10px -2px rgba(0, 0, 0, 0.03);
    img {
      width: 216px;           // Taille à définir
      height: 14px;              // Taille à définir
      margin-left: 146px;          // Taille à définir
    }

    nav {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
  
        li {
          margin-right: 45px;           // Taille à définir
  
          &:last-child {
            margin-right: 146px;      // Taille à définir
          }
  
          a {
            text-decoration: none;
            color: var(--noir-100);
            font-family: Space Mono;
            font-size: 16px;
          }
        }
      }
    }
  }

/* marge sup pages : à propos, vie privée et mentions légales */

div.entry-content {
  margin-top: 100px;
}

/* Hero Header */

.hero-header {
  margin-bottom: 80px;        /* Taille à définir */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.photo-event {
  position: absolute;
  width: 55vw;
  height: auto;
}

/* Page d'accueil */

#photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 146px;
  margin-left: 146px;
}

//Sélecteurs filtres

.photo-filters {
  //border: 3px solid blue;
  height: 82px;
  margin-right: 146px;
  margin-left: 146px;
  display: flex;
  justify-content: space-between;
    #filter-category {
      width: 260px;
      height: 43px;
      font-family: 'poppins', sans-serif;
      font-weight: 500;
      font-size: 12px;
      border-radius: 8px;
      border: 1.3px solid #B8BBC2;  
      padding-left: 18px;  
  }
    #filter-format{
      width: 260px;
      height: 43px;
      font-family: 'poppins', sans-serif;
      font-weight: 500;
      font-size: 12px;
      border-radius: 8px;
      border: 1.3px solid #B8BBC2;
      padding-left: 18px;
  }
    #sort-date {
      width: 260px;
      height: 43px;
      font-family: 'poppins', sans-serif;
      font-weight: 500;
      font-size: 12px;
      border-radius: 8px;
      border: 1.3px solid #B8BBC2;
      padding-left: 18px;
  }
}
 
.filters-left {
  //border: 2px solid red;
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.filter-right {
  //border: 2px solid green;
  width: 49%;
  display: flex;
  justify-content: flex-end;
}

.photo-item {
  //flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  width: 564px;   /* Taille à définir */
  height: 495px;    /* Taille à définir */
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //box-sizing: border-box;
    //background-size: cover;
    //background-position: center;
  }
}

/* BTN 'Charger plus' page d'accueil */

.home-btn {
  display: flex;
  justify-content: center;
}

#load-more-button {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 272px;
  height: 50px;
  cursor: pointer;
  background-color: #D8D8D8;
  font-size: 12px;
  font-family: 'Space Mono';
  border-radius: 2px;
  border: none;
    &:hover {
      background-color: #000;
      color: #fff;
    }
}

/* Page photographie */

.both-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 38px;   /* Taille à définir */
    @media (max-width: 1024px) {         // Responsive page photo
      flex-direction : column-reverse;
    }
}

.left-column {
  width: 420px;   /* Taille à définir */
  height: auto;   /* Taille à définir */
  width: 50%;     /* Taille à définir */
  border-bottom: 1px solid black;
  margin-left: 146px;   /* Taille à définir */
  margin-right: 10px;
  padding-bottom: 35px;   /* Taille à définir */
    p {
    font-family: Space Mono;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 20px;
  }
    h2 {
      width: 20vw;
      margin-bottom: 30px;
    }
}

.photo-info p a {
  color: var(--noir-100);
  text-decoration: none;
  cursor: default;
}

.right-column {
  width: 50%;
  margin-right: 146px;   /* Taille à définir */
  margin-left: 10px;     /* Taille à définir */
  img {
    width: 30vw;
    height: 100vh;
    object-fit: cover;
    //background-size: cover;
    //background-position: center;
  }
}

.bottom-column {
  margin-left: 146px;   /* Taille à définir */
  margin-right: 146px;  /* Taille à définir */
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 118px;
}

.bottom-column-left {
  width: 48.4%;
  display: flex;
  align-items: center;
}

.contact-link {     // bouton contact
  display: flex;
  justify-content: space-between;
  width: 100%;
    p {
      display: flex;
      align-items: center;
    }
}

.bottom-column-right {
  width: 50%; 
  display: flex;
  flex-direction: column;
  position: relative;
}

.hover-thumbnail {  // Miniature photo
  position: absolute;
  width: 80px;
  height: auto;
  bottom: 100%;  
  left: 50%;  
  transform: translateX(-50%); 
  //margin-bottom: 2px;
  object-fit: contain;
}

.navigation-links {
  display: flex;
  gap: 30px;    // Taille à définir
  justify-content: flex-end;
  align-items:last baseline;
  padding-top: 5px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
} 

button {
  &.contactButton {
  width: 272px;    // Taille à définir
  height: 50px;    // Taille à définir
  padding: 8px 15px;  // Taille à définir
  background-color: var(--Gris-medium);
  border: none;
  font-family: Space Mono;
  font-size: 12px;
  cursor: pointer;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.title-related-photos {
  margin-bottom: 52px;   // Taille à définir
  margin-top: 70px;      // Taille à définir
  margin-left: 146px;    // Taille à définir
}

.container-photos { // les 2 photos associées
  display: flex;
  justify-content: center;
  gap: 20px;         // Taille à définir
      @media (max-width: 1024px) {         // Responsive 2 photos bas de page
        flex-direction : column;
      }
}

.related-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.next,
.previous {
  color: #51515d;
}

/* Modale Contact */

#contactModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 597px;     // Taille à définir
  height: 769px;    // Taille à définir
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex; 
  justify-content: center;  
  align-items: center; 
  border: 5px solid var(--noir-100);
}

.popup-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    margin-top: 25px;   // Taille à définir
    margin-bottom: 30px;
  }
}

.wpcf7-spinner {   
  display: none;
}

/* Formulaire modale page photo */

.wpcf7-form label {
  font-size: 12px;
  font-weight: 500;
}

.wpcf7-form input,
.wpcf7-form textarea {
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
  width: 263px;        // Taille à définir
  height: 40px;         // Taille à définir
  margin-bottom: 20px;   // Taille à définir
}

.wpcf7-form textarea {
  width: 263px;    // Taille à définir
  height: 210px;   // Taille à définir
  resize: none;
}

.wpcf7-form input[name="reference"] {
  margin-bottom: 6px;       // Taille à définir
}

.wpcf7-submit {
  cursor: pointer;
}

.wpcf7-form .last-element {
  margin-bottom: 19px;         // Taille à définir
}

.wpcf7-form input[type="submit"] {
  width: 263px;               // Taille à définir
  height: 50px;                // Taille à définir
  background: var(--Gris-medium);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  font-size: 12px;
  border-radius: 0;
}

/* Footer */

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;    // Taille à définir
  width: 100%;
  //margin-top: 130px;    // Taille à définir
  border-top: 1px solid #000;
  
  ul {
      display: flex;
      list-style-type: none;

      a {
          text-decoration: none;
          color: var(--noir-100);
          font-family: Space Mono;
          font-size: 16px;
      }
      
      .menu-item {
          margin-right: 86px;      // Taille à définir

          &:last-child {
              margin-right: 0;
          }
      }
  }

  p {
      margin-left: 86px;    // Taille à définir
      font-family: Space Mono;
      font-size: 16px;
  }
}



