@charset "UTF-8";
/* Couleurs du site */
:root {
  --Rouge: #E00000;
  --Rouge-secondaire: #FE5858;
  --Rouge-tertiaire: #FFD6D6;
  --noir-100: #000;
  --Bleu-fonc: #313144;
  --Gris-fonc: #C4C4C4;
  --Gris-medium: #D8D8D8;
}

/* Styles généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Polices du site */
/* Police Space Mono */
h1 {
  font-family: "Space Mono", monospace;
  /*font-size: 96px;*/
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--noir-100);
}

h2 {
  font-family: "Space Mono", monospace;
  /*font-size: 66px;*/
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  color: var(--noir-100);
}

h3 {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--noir-100);
}

/* Police Poppins */
p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--noir-100);
}

/* Header */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0px 14px 10px -2px rgba(0, 0, 0, 0.03);
}
.header-menu img {
  width: 60%;
  height: auto;
  margin-left: 7.6vw;
}

.header-menu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-menu nav ul li {
  margin-right: 2.35vw;
}
.header-menu nav ul li:last-child {
  margin-right: 7.6vw;
}
.header-menu nav ul li a {
  text-decoration: none;
  color: var(--noir-100);
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.menu-toggle,
.close-menu {
  display: none;
  border: none;
  cursor: pointer;
  background: transparent;
  z-index: 1020;
  margin-right: 40px;
}

.menu-toggle img,
.close-menu img {
  width: 27px;
  height: 19px;
}

.menu-toggle {
  display: block;
}

/* Media Queries Header */
@media (max-width: 768px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
  }
  #site-navigation {
    display: none;
    background-color: #E00000;
  }
  #site-navigation .menu {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #site-navigation li {
    font-size: 24px;
    margin: 0;
  }
  #site-navigation li:last-child {
    margin-bottom: 0;
  }
  #site-navigation.toggled {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #site-navigation.toggled li a {
    font-weight: 400;
    font-size: 44px;
    color: #fff;
  }
}
/* Animation liens du menu */
.menu a {
  transition: all 0.5s;
}
.menu a:hover {
  font-weight: 700;
}
.menu a:before, .menu a:after {
  transition: all 0.5s;
}
.menu a:before {
  -webkit-font-smoothing: antialiased;
}

/* marge sup pages : à propos, vie privée et mentions légales */
div.entry-content {
  margin-top: 100px;
}

/* Hero Header */
.hero-header {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.photo-event {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-event img {
  width: 55vw;
  height: auto;
}

/* Media queries hero header */
@media (max-width: 820px) {
  #main-content {
    margin-top: 80px;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
  }
  .hero-header {
    height: 42vh;
    box-sizing: border-box;
    background-size: cover;
    margin-bottom: 35px;
  }
  .photo-event img {
    width: 70%;
  }
}
/* Page d'accueil filtres et vignettes photos */
/* filtres page accueil */
.photo-filters {
  display: flex;
  justify-content: space-between;
  margin-right: 7.6vw;
  margin-left: 7.6vw;
  height: 82px;
}

.filters-left, .filter-right {
  display: flex;
  width: 50%;
}

.filters-left {
  justify-content: space-between;
  margin-right: 20px;
}

.filter-right {
  justify-content: flex-end;
}

.custom-filter {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.custom-filter .selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
}
.custom-filter .selected-option img {
  transition: transform 0.3s ease;
}
.custom-filter .selected-option p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.custom-filter .selected-option.expanded img {
  transform: rotate(180deg);
}
.custom-filter .filter-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  border-radius: 0 0 8px 8px;
  overflow-y: auto;
  background-color: #FFFFFF;
  display: none;
}
.custom-filter .filter-list div {
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

/* Animations 3 couleurs des éléments des filtres*/
.custom-filter .filter-list div:hover {
  background-color: #FFD6D6;
}

.custom-filter .filter-list div:active {
  background-color: #FE5858;
}

.custom-filter .filter-list div.selected {
  background-color: #E00000;
}

.custom-filter .selected-option:focus,
.custom-filter .filter-list div:focus {
  border-color: #A0A3AC;
}

.active-filter .selected-option {
  border: 1.3px solid #215aff;
}

/* Vignettes photos */
#photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 7.6vw;
  margin-left: 7.6vw;
}

.photo-item {
  width: calc(50% - 10px);
  height: 495px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}
.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-item .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.photo-item:hover .photo-overlay {
  display: block;
}

.eye-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.eye-icon img {
  width: 46px;
  height: 31.2px;
  cursor: pointer;
}

.expand-icon {
  position: absolute;
  top: 11px;
  right: 18px;
}

.open-lightbox {
  display: block;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

/* Overlay vignette photo */
#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#lightbox-overlay #lightbox-container {
  position: relative;
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Titre & Catégorie photo dans "Agrandir" */
}
#lightbox-overlay #lightbox-container #lightbox-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}
#lightbox-overlay #lightbox-container #lightbox-info {
  display: flex;
  position: absolute;
  bottom: -3%;
  left: 35%;
  right: 35%;
  width: auto;
}
#lightbox-overlay #lightbox-container #lightbox-info #lightbox-title {
  flex: 1;
  text-align: right;
  color: white;
}
#lightbox-overlay #lightbox-container #lightbox-info #lightbox-reference {
  flex: 1;
  text-align: left;
  color: white;
}
#lightbox-overlay #lightbox-container #close-button {
  position: absolute;
  top: 3%;
  right: 5.5%;
  cursor: pointer;
}
#lightbox-overlay #lightbox-container #lightbox-controls {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#lightbox-overlay #lightbox-container #lightbox-controls #prev-button, #lightbox-overlay #lightbox-container #lightbox-controls #next-button {
  cursor: pointer;
}

/* Titre & Catégorie photo sur vignette */
.photo-title, .photo-category {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
}

.photo-title {
  bottom: 12px;
  left: 17px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}

.photo-category {
  bottom: 12px;
  right: 23px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
}

/* BTN 'Charger plus' page d'accueil */
.home-btn {
  display: flex;
  justify-content: center;
}

#load-more-button {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 272px;
  height: 50px;
  cursor: pointer;
  background-color: #D8D8D8;
  font-size: 12px;
  font-family: "Space Mono";
  border-radius: 2px;
  border: none;
  transition: all 0.7s;
}
#load-more-button:hover {
  background-color: #000;
  color: #fff;
}
#load-more-button:before {
  -webkit-font-smoothing: antialiased;
}

/* Media Queries page accueil filtres et vignettes photo */
/* Media Queries Filtres */
@media (max-width: 414px) {
  .photo-filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
    justify-content: center;
    margin-left: 25px;
  }
  .filters-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  .filter-right {
    display: flex;
    justify-content: flex-start;
  }
  .custom-filter .filter-list {
    width: 70vw;
  }
}
@media (max-width: 820px) {
  .photo-filters {
    display: flex;
    margin-bottom: 40px;
    gap: 10px;
    height: auto;
    justify-content: center;
    margin-left: 55px;
  }
  .filters-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .filter-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .filters-left, .filter-right {
    width: 40%;
  }
}
/* Media Queries Vignettes */
@media (max-width: 1024px) {
  .photo-item {
    width: 100%;
    height: 40vh;
  }
  .photo-overlay {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  #load-more-button {
    margin-top: 2px;
    margin-bottom: 22px;
  }
  #lightbox-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lightbox-overlay #lightbox-container {
    height: 80vh;
  }
  #lightbox-overlay #lightbox-container #lightbox-image {
    height: 80%;
  }
  #lightbox-overlay #lightbox-controls {
    bottom: -7%;
  }
}
@media (max-width: 414px) {
  #lightbox-overlay #lightbox-container #lightbox-info {
    top: 90%;
    left: 12.5%;
    width: 75%;
  }
}
/* Page photographie */
.both-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 38px;
}

.left-column {
  width: 420px;
  height: auto;
  width: 50%;
  border-bottom: 1px solid black;
  margin-left: 7.6vw;
  margin-right: 10px;
  padding-bottom: 35px;
}
.left-column p {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 20px;
}
.left-column h2 {
  width: 20vw;
  margin-bottom: 30px;
  font-size: 66px;
}

/* Rendre le lien catégorie inactif */
.photo-info p a {
  color: var(--noir-100);
  text-decoration: none;
  pointer-events: none;
}

.right-column {
  width: 50%;
  margin-right: 7.6vw;
  margin-left: 10px;
  /* Image photo droite */
}
.right-column img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

/* Enlever les flèches agrandir photo */
#prev-button, #next-button {
  display: block;
}

/* L'icone agrandir */
.photo-wrapper {
  position: relative;
  overflow: hidden;
}

.bottom-column {
  margin-left: 7.6vw;
  margin-right: 7.6vw;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 118px;
}

.bottom-column-left {
  width: 48.4%;
  display: flex;
  align-items: center;
}

/* bouton contact page photo */
.contact-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact-link p {
  display: flex;
  align-items: center;
}

button.contactButton {
  width: 272px;
  height: 50px;
  padding: 8px 15px;
  background-color: var(--Gris-medium);
  border: none;
  font-family: Space Mono;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.7s;
  border-radius: 2px;
}
button.contactButton:hover {
  background-color: #000;
  color: #fff;
}
button.contactButton:before {
  -webkit-font-smoothing: antialiased;
}

.bottom-column-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Miniature photo */
.hover-thumbnail {
  position: absolute;
  width: 80px;
  height: auto;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}

.navigation-links {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: last baseline;
  padding-top: 5px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.title-related-photos {
  margin-bottom: 52px;
  margin-top: 70px;
  margin-left: 146px;
}

/* les 2 photos associées */
.container-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 7.6vw;
  margin-left: 7.6vw;
}

.related-photo-item {
  width: calc(50% - 10px);
  box-sizing: border-box;
}
.related-photo-item .photo-item {
  width: 100%;
}

.related-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Media Queries page photographie */
@media (max-width: 414px) {
  .both-columns {
    flex-direction: column-reverse;
    align-items: center;
  }
  .container-photos {
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .left-column {
    width: 75%;
    border: none;
  }
  .left-column p {
    margin-top: 15px;
    width: 70%;
  }
  .left-column h2 {
    font-size: 46px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .right-column {
    margin: 0;
    width: auto;
  }
  .right-column img {
    max-height: 100%;
  }
  .right-column .photo-wrapper {
    width: 265px;
    height: 397px;
  }
  .bottom-column {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 135px;
    margin: 0;
  }
  .bottom-column-left {
    width: 75%;
    margin-left: 54px;
  }
  .bottom-column-left .contact-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 135px;
  }
  .bottom-column-left .contact-link p {
    width: 100%;
    margin-bottom: 15px;
  }
  .bottom-column-right {
    display: none;
  }
  .title-related-photos {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  .related-photo-item {
    width: 100%;
  }
}
@media (max-width: 280px) {
  .contact-link .contactButton {
    width: 80%;
  }
}
@media (max-width: 820px) {
  .right-column img {
    max-height: 55vh;
  }
}
/* Modale Contact */
#contactModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.modal-content {
  position: relative;
  width: 597px;
  height: 769px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--noir-100);
}

.popup-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-contact h2 {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 66px;
}

.wpcf7-spinner {
  display: none;
}

/* Stylisation modale contact */
.wpcf7-form label {
  font-size: 12px;
  font-weight: 500;
}

.wpcf7-form input,
.wpcf7-form textarea {
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

.wpcf7-form input[type=text],
.wpcf7-form input[type=email] {
  width: 263px;
  height: 40px;
  margin-bottom: 20px;
}

.wpcf7-form textarea {
  width: 263px;
  height: 210px;
  resize: none;
}

.wpcf7-form input[name=reference] {
  margin-bottom: 6px;
}

.wpcf7-submit {
  cursor: pointer;
  border-radius: 2px !important;
  border: none;
  transition: all 0.7s;
}
.wpcf7-submit:hover {
  background-color: #000 !important;
  color: #fff;
}
.wpcf7-submit:before {
  -webkit-font-smoothing: antialiased;
}

.wpcf7-form .last-element {
  margin-bottom: 19px;
}

.wpcf7-form input[type=submit] {
  width: 263px;
  height: 50px;
  background: var(--Gris-medium);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  font-size: 12px;
  border-radius: 0;
}

/* Media Queries modale contact */
@media (max-width: 414px) {
  .modal-content {
    width: 286px;
    height: 583px;
  }
  .popup-contact h2 {
    font-size: 34px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .wpcf7-form textarea {
    width: 190px;
    height: 149px;
  }
  .wpcf7-form input[type=text],
  .wpcf7-form input[type=email] {
    width: 190px;
    margin-bottom: 14px;
  }
  #photo-reference {
    margin-bottom: 0;
  }
  .wpcf7-form input[type=submit] {
    width: 190px;
    margin-bottom: 19px;
  }
  .wpcf7-response-output {
    display: none;
  }
  .wpcf7-not-valid-tip {
    font-size: 0.8em;
  }
}
/* Footer */
#footer-container {
  height: 41px;
  border-top: 1px solid #000;
}

.footer-menu {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}
.footer-menu ul {
  list-style-type: none;
  display: flex;
  gap: 85px;
}
.footer-menu ul a {
  text-decoration: none;
  color: var(--noir-100);
  font-family: "Space Mono", monospace;
  font-size: 16px;
}
.footer-menu p {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  margin-left: 85px;
}

/* Media queries footer */
@media (max-width: 768px) {
  #footer-container {
    height: 205px;
  }
  .footer-menu {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .footer-menu p {
    margin-top: 24px;
    margin-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
